<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="!isLoggedIn">
          <a routerLink="/auth">Authenticate</a>
        </li>
        <li routerLinkActive="active" *ngIf="isLoggedIn"><a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" style="cursor: pointer;" *ngIf="isLoggedIn">
          <a (click)="onLogout()">Log out</a>
        </li>
        <li class="dropdown" appDropdown *ngIf="isLoggedIn">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveRecipes()">Save Data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchRecipes()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
