<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (submit)="onSave()">
      <div class="row">
        <div class="col-xs-12 custom-container">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="name">Name</label>
          <input type="text" name="name" formControlName="name" class="form-control" id="name" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="imagePath">Image URL</label>
          <input
            type="text"
            name="imagePath"
            formControlName="imagePath"
            class="form-control"
            id="imagePath"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="description">Description</label>
          <textarea
            type="text"
            name="description"
            formControlName="description"
            class="form-control"
            id="description"
            cols="3"
          ></textarea>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-xs-12">
          <button class="btn btn-primary" type="button" (click)="onAddNewIngredient()">
            Add Ingredient
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            [formGroupName]="i"
            *ngFor="let control of getControls(); let i = index"
            style="margin-top:10px"
          >
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" formControlName="amount" />
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" id="i" (click)="onRemoveIngredient(i)">
                X
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
