<div class="row">
  <div class="col-xs-12" *ngIf="isLoading" style="text-align: center;">
    <app-loader></app-loader>
  </div>
  <div class="col-xs-10 col-md-4" *ngIf="!isLoading">
    <div class="alert alert-danger" *ngIf="error">
      {{ error }}
    </div>
    <form #authForm="ngForm" (submit)="onSignUp(authForm)">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" ngModel id="email" required email />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          ngModel
          id="password"
          required
          minlength="6"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">
          {{ isLoginMode ? 'Login' : 'Sign In' }}
        </button>
        |
        <button type="button" class="btn btn-primary" (click)="onSwitchMode()">
          Swicth to {{ isLoginMode ? 'Sign In' : 'Login' }}
        </button>
      </div>
    </form>
  </div>
</div>
