/* You can add global styles to this file, and also import other style files */
.custom-container > .btn:nth-child(1) {
  margin-left: 0px;
  margin-right: 5px;
}
.custom-container > .btn {
  margin-left: 0px;
  margin-right: 5px;
}
