<div class="row">
  <div class="col-xs-12">
    <form #f="ngForm" (submit)="onAddItem(f)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" ngModel #nameInput="ngModel" required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" name="amount" class="form-control" ngModel #amountInput="ngModel" required
            pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group">
            <button class="btn btn-success mr-10" type="submit"
              [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
            <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDeleteItem()">Delete</button>
            <button class="btn btn-primary" type="button" (click)="onResetItem()">Clear</button>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>